.card-container {
  color: var(--clr-neutral-200);
  padding: 0.92rem;
  border: solid 1px var(--clr-neutral-600);
  background-color: var(--clr-neutral-800);
  border-radius: 18px;
}

.card-content {
  margin-bottom: 3rem;
}

.card-content img {
  margin-right: 1rem;
  padding-bottom: 1.2rem;
}

.card-content span,
.card-content strong {
  display: inline-block;
  padding-bottom: 0.5rem;
}

.card-content {
  display: flex;
}

.card-btns {
  display: flex;
  justify-content: space-between;
}

.card-btns .remove {
  color: var(--clr-neutral-200);
  border: solid 1px var(--clr-neutral-600);
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 18px;
  background-color: var(--clr-neutral-800);
}

.card-btns .remove:hover {
  cursor: pointer;
  border: hidden;
  background-color: var(--clr-red-400);
  color: var(--clr-neutral-900);
}

.toggle-wrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

/* input은 숨김 */
.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 토글 트랙 */
.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-neutral-600);
  border-radius: 26px;
  transition: 0.3s;
}

/* 원형 핸들 */
.toggle-slider::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* ON 상태 */
.toggle-input:checked + .toggle-slider {
  background-color: var(--clr-red-400);
}

/* ON 상태에서 핸들 이동 */
.toggle-input:checked + .toggle-slider::before {
  transform: translateX(24px);
}
