/* Noto Sans 폰트의 400, 500, 700 굵기를 임포트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap");

:root {
  /* ### Neutral */

  --clr-neutral-900: hsl(227, 75%, 14%); /* Neutral 900 */
  --clr-neutral-800: hsl(226, 25%, 17%); /* Neutral 800 */
  --clr-neutral-700: hsl(225, 23%, 24%); /* Neutral 700 */
  --clr-neutral-600: hsl(226, 11%, 37%); /* Neutral 600 */
  --clr-neutral-300: hsl(0, 0%, 78%); /* Neutral 300 */
  --clr-neutral-200: hsl(217, 61%, 90%); /* Neutral 200 */
  --clr-neutral-100: hsl(0, 0%, 93%); /* Neutral 100 */
  --clr-neutral-0: hsl(200, 60%, 99%); /* Neutral 0 */

  /* Red */
  --clr-red-400: hsl(3, 86%, 64%);
  --clr-red-500: hsl(3, 71%, 56%);
  --clr-red-700: hsl(3, 77%, 44%);

  /* Gradient */
  --gradient-bg: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* ## Typography */

  /* Font Family */
  --ff-main: "Noto Sans", sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Font Sizes */
  --fs-body: 1rem; /* 16px */
}

body {
  margin: 0;
  font-family: var(--ff-main);
  font-size: var(--fs-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--gradient-bg);
  min-height: 100vh;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-area {
  width: 100%;
}

.main-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;

  min-height: 600px;
}

.filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.filter-button {
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-700);
  min-width: 4rem;
  font-size: 1rem;
  cursor: pointer;
  border: hidden;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  margin: 0.2rem;
  border-radius: 1.5rem;
}

.btn-toggle {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: var(--clr-neutral-600);
  border: hidden;
  border-radius: 12px;
}

.toggle-btn:hover {
  cursor: pointer;
}

.logo-toggle {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--clr-neutral-700);
  padding: 15px;
  border-radius: 24px;
  margin-bottom: 3rem;
}

.content-main-text {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
}

.filter-button.active {
  background-color: var(--clr-red-400);
  color: var(--clr-neutral-900);
}

.main-cards-container {
  min-height: 320px;
}

.empty-state {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-400);
}

/* 라이트 모드 */
body[data-theme="light"] {
  --gradient-bg: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);

  /* 네츄럴 컬러 */
  --clr-neutral-900: hsl(200, 60%, 99%);
  --clr-neutral-800: hsl(200, 60%, 99%);
  --clr-neutral-700: hsl(200, 60%, 99%);
  --clr-neutral-600: hsl(0, 0%, 78%);
  --clr-neutral-200: hsl(227, 75%, 14%);

  /* 레드 컬러 */
  --clr-red-400: hsl(3, 77%, 44%);
}

/* 반응형 스타일링 mobile */
@media (max-width: 767px) {
  .main-bg {
    display: block;
  }

  .main-container {
    padding: 20px 10px;
  }

  .main-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
  }

  .logo-toggle {
  }

  .content-main-text {
    margin-bottom: 20px;
  }

  .filter-btns {
    flex-direction: column;
  }

  .filter-button {
    margin: 0.2rem 0.5rem;
  }
}
